NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

RESEND_API_KEY=
NOTIFICATION_TO_EMAIL=
NOTIFICATION_FROM_EMAIL=onboarding@resend.dev

DOCUSIGN_AUTH_SERVER=account-d.docusign.com
DOCUSIGN_INTEGRATION_KEY=
DOCUSIGN_USER_ID=
DOCUSIGN_PRIVATE_KEY=
DOCUSIGN_ACCOUNT_ID=
DOCUSIGN_CONNECT_WEBHOOK_URL=
DOCUSIGN_CONNECT_KEY=
